<div id="intro" class="max-w-screen-xl container mx-auto">
  <h2 class="text-4xl font-extrabold dark:text-white mb-8">The story</h2>

  <div class="w-1/2 mx-auto text-justify">
    <p class="mb-12">Once upon a time, in a land far away lived a Prince called David and a Prince called Ruby</p>
    <div class="mb-12">
      <%= image_tag("frogger_1000.jpeg", alt: "Intro slide 1", class: 'w-full') %>
    </div>

    <p class="mb-12">The fairy tale stopped when an evil wizard casted a spell on the Prince</p>
    <div class="mb-12">
      <%= image_tag("frogger_2000.jpeg", alt: "Intro slide 2", class: '') %>
    </div>

    <p class="mb-12">The Prince was changed into a frog</p>
    <div class="mb-12">
      <%= image_tag("frogger_3000.jpeg", alt: "Intro slide 2", class: '') %>
    </div>

    <p class="mb-12">But the brave Prince, even in this tiny body, has never stopped fighting. He started to run away!</p>
    <div class="mb-12">
      <%= image_tag("frogger_4000.jpeg", alt: "Intro slide 2", class: '') %>
    </div>

    <p class="mb-12">He has found refuge in the deep forest!</p>
    <div class="mb-12">
      <%= image_tag("frogger_5000.jpeg", alt: "Intro slide 2", class: '') %>
    </div>

    <p class="mb-12">The evil wizard was furious. He has decided to kidnap Ruby.</p>
    <div class="mb-12">
      <%= image_tag("frogger_6000.jpeg", alt: "Intro slide 2", class: '') %>
    </div>

    <p class="mb-12">He has put her on a train which took her to his hideout.</p>
    <div class="mb-16">
      <%= image_tag("frogger_6000.jpeg", alt: "Intro slide 2", class: '') %>
    </div>

    <a href="/games/" class="btn-blue mb-24 w-full">Hurry! Help the Prince to rescue the Princess!</a>
  </div>
</div>
