<% presenter = GamePresenter.new(game:) %>

<% if game.running? %>
  <div id="<%= dom_id(game) %>" class="game grid gap-0" style="grid-template-columns: repeat(<%= Game::World::WIDTH%>,minmax(0,1fr));">
<pre><%
  presenter.rows.each_with_index do |row, row_index|
    row.each_with_index do |cell, cell_index|
      %><%=
      if presenter.player_at?(row_index, cell_index)
        'F'
      elsif cell == Game::World::PATTERN_RAILWAY && game.train_position == cell_index
        'TT'
      else
        cell
      end
      %><%
    end %>
<% end %>
</pre>
  </div>
<% else %>
  <div id="<%= dom_id(game) %>" class="w-2/3 mx-auto" data-controller="gameover">
    <% if game.winner %>
      <div class="text-center mb-6">
        <h2 id="winner_indicator" data-winner-identity="<%= game.winner.identity %>"></h2>
        <h3>Take a look at the rest of the story</h3>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <%= image_tag("frogger_winner_1000.jpeg", alt: "Game outro slide 1 - kissing the frog", class: '') %>
        <%= image_tag("frogger_winner_2000.jpeg", alt: "Game outro slide 2 - resting", class: '') %>
        <%= image_tag("frogger_winner_3000.jpeg", alt: "Game outro slide 3 - putting wizard to jain", class: '') %>
        <%= image_tag("frogger_winner_4000.jpeg", alt: "Game outro slide 4 - happily ever after", class: '') %>
      </div>
    <% else %>
      <div class="text-center mb-6">
        <h2>Better luck next time Prince...</h2>
        <h3>The Princess was kidnapped and the Prince was eating flies for the rest of his days</h3>
      </div>
      <div class="w-4/5 mx-auto text-justify">
        <%= image_tag("frog_looking_into_distance.jpeg", alt: "Game outro slide - frog looking into distance", class: '') %>
      </div>
    <% end %>
  </div>
<% end %>
