<div class="text-center mb-6">
  <h2 id="winner_indicator" data-winner-identity="<%= game.winner.identity %>"></h2>
  <h3>Take a look at the rest of the story</h3>
</div>

<div class="grid grid-cols-2 gap-4">
  <%= image_tag("frogger_winner_1000.jpeg", alt: "Game outro slide 1 - kissing the frog", class: '') %>
  <%= image_tag("frogger_winner_2000.jpeg", alt: "Game outro slide 2 - resting", class: '') %>
  <%= image_tag("frogger_winner_3000.jpeg", alt: "Game outro slide 3 - putting wizard to jain", class: '') %>
  <%= image_tag("frogger_winner_4000.jpeg", alt: "Game outro slide 4 - happily ever after", class: '') %>
</div>
