<div class="max-w-screen-xl mx-auto">
  <div class="flex justify-between ">
    <div class="mb-8">
      <h2 class="text-4xl font-extrabold dark:text-white mb-8">
        Games
      </h2>
    </div>

    <% if @games.running.size < 3 %>
      <div class="mb-8">
        <%= button_to 'Start a game', games_path, class: 'btn-blue' %>
      </div>
    <% end %>
  </div>


  <div class="">
    <table class="mx-auto">
      <tr class="border-b-2">
        <td class="py-4 px-12 font-bold text-center">Number</td>
        <td class="py-4 px-12 font-bold text-center">Status</td>
        <td class="py-4 px-12"></td>
      </tr>

      <% @games.each_with_index do |game, index| %>
        <tr>
          <td class="py-4 px-12 text-center">
            <%= game.id %>
          </td>
          <td class="py-4 px-12 text-center">
            <%= game.running? ? 'Ongoing' : 'Finished' %>
          </td>
          <td class="py-4 px-12">
            <% if game.running? %>
              <%= link_to 'Play', game, class: 'btn-blue py-3 px-12' %>
            <% else %>
              <%= link_to 'Check result', game, class: 'btn-gray py-3 px-4' %>
            <% end %>
          </td>
        <tr>
      <% end %>
    </table>
  </div>
</div>
