<h1 class="text-2xl mb-8">
  Game #<%= @game.id%> (<%= @game.running? ? 'Running' : 'Finished' %>)
</h1>

<div class="game-wrapper rounded-xl overflow-hidden mb-8" data-controller="game">
  <%= turbo_stream_from dom_id(@game) %>

  <%= render @game %>
</div>

<% if @player %>
  <div>
    <%= turbo_stream_from dom_id(@player) %>

    <%= render @player %>
  </div>
<% end %>
