<div class="max-w-screen-xl mx-auto">
  <div class="mb-8">
    <% if @player %>
      <%= turbo_stream_from dom_id(@player) %>

      <%= render @player %>
    <% elsif @game.running?%>
      <%= link_to 'Join', join_game_path(@game), class: "btn-blue" %>
    <% end %>
  </div>

  <div data-controller="game" data-game-id="<%= @game.id %>" class="game-wrapper rounded-xl overflow-hidden mb-8 container max-w-screen-xl mx-auto">
    <%= turbo_stream_from dom_id(@game) %>

    <%= render @game %>
  </div>
</div>
