<!DOCTYPE html>
<html>
  <head>
    <title>Ruby on Rails - The Game</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/png" href="/favicon.png" />
  </head>

  <body class="bg-black text-white <% if @home %>main_screen<% end %> <%= 'game-wrapper' if @game %>">
    <%= render partial: "/layouts/top_nav" %>

    <main class="container mx-auto h-full">
      <%= yield %>
    </main>
  </body>
</html>
